In [43]:
import os
import csv
import glob
import MySQLdb
import scrapy
from selenium import webdriver
from scrapy.selector import Selector
from scrapy.http import Request
from time import sleep
from selenium.common.exceptions import NoSuchElementException
import pandas as pd
from sqlalchemy import *
import numpy as np
import mysql.connector
import lxml
from lxml import etree as ElementTree

In [44]:
def process(things):
    df=pd.DataFrame(data={'author':[],'heat':[]})
    for i in range(len(things)):
        listing=things[i]
        path = lxml.html.fromstring(listing)
        heat=path.xpath('//li[@class="pageviews"]//text()')
        a=0
        for i in range(len(heat)):
            b=i-a
            if heat[b][0].isdigit()==False:
                del heat[b]
                a=a+1
            else:
                heat[b]=heat[b].replace(',','')
        if len(heat)==0:
            heat=None
        else:
            heat=int(heat[0])
        authors=path.xpath('//li[@class="author-byline ks-author-byline"]//text()')
        a=0
        for i in range(len(authors)):
            b=i-a
            authors[b]=authors[b].replace(' ','')
            authors[b]=authors[b].replace('and','')
            authors[b]=authors[b].replace(',','')
            if authors[b]=='':
                del authors[b]
                a=a+1
        for author in authors:
            df.set_value(len(df), 'author', author)
            df.set_value(len(df)-1, 'heat', heat)
    return df

In [45]:
driver=webdriver.Chrome('C://Users/USER/Desktop/sougou/chromedriver')
driver.get('http://www.businessinsider.com/clusterstock?page=1')
df=pd.DataFrame(data={'author':[],'heat':[]})
while True:
    try:
        last_height = driver.execute_script("return document.body.scrollHeight")
        while True:
            driver.execute_script("window.scrollTo(0, document.body.scrollHeight);")
            sleep(0.5)
            new_height = driver.execute_script("return document.body.scrollHeight")
            if new_height == last_height:
                break
            last_height = new_height
        sleep(2)
        sel = Selector(text=driver.page_source)
        things=sel.xpath('//div[@class="flex byline"]//ul').extract()
        df_new=process(things)
        df=pd.concat([df,df_new])
        next_page = driver.find_element_by_xpath('//a[@class="float-right btn button-white"]')
        next_page.click()
        sleep(2)
    except NoSuchElementException:
        driver.quit()
        break

C:\Users\USER\Anaconda3\lib\site-packages\ipykernel_launcher.py:30: FutureWarning: set_value is deprecated and will be removed in a future release. Please use .at[] or .iat[] accessors instead
C:\Users\USER\Anaconda3\lib\site-packages\ipykernel_launcher.py:31: FutureWarning: set_value is deprecated and will be removed in a future release. Please use .at[] or .iat[] accessors instead

In [46]:
df

                      author     heat
0                 MattTurner  19465.0
1                AlexMorrell   2588.0
2                  JoeCiolli   2366.0
3               JoePerticone     15.0
4                   BobBryan     15.0
5                    Reuters      0.0
6                    Reuters      3.0
7              BeckyPeterson    127.0
8                   GinaHeeb      NaN
9              BenjaminZhang    492.0
10               AkinOyedele    562.0
11                   Reuters     15.0
12                   Reuters    265.0
13            JonathanGarber      NaN
14             FrankChaparro  37550.0
15             FrankChaparro   7037.0
16                 JoeCiolli  33039.0
17               AkinOyedele  24712.0
18             FrankChaparro   6476.0
19               LydiaRamsey   6619.0
20                 JoeCiolli  21451.0
21            JasonGuerrasio   3131.0
22              MarkMatousek   4872.0
23             FrankChaparro    413.0
24              GrahamRapier      NaN
25                  BobBryan    545.0
26               MaryHanbury   1443.0
27             MatthewDeBord   1802.0
28             MatthewDeBord    654.0
29                KateTaylor   1449.0
..                       ...      ...
15                   Reuters      4.0
16             PeterFarquhar   7737.0
17  BusinessInsiderAustralia   7737.0
18                   Reuters      8.0
19                   Reuters      7.0
20                   Reuters      3.0
21            JonathanGarber      NaN
22                   Reuters     59.0
23            DavidRosenberg   5428.0
24              GluskinSheff   5428.0
25                   Reuters     21.0
26                   Reuters     10.0
27             TroyWolverton  30341.0
28                   Reuters     10.0
29                   Reuters     21.0
30                   Reuters     17.0
31            SarahKocianski      NaN
32               JaimeToplin      NaN
33                DavidScutt   2584.0
34  BusinessInsiderAustralia   2584.0
35              BenMoshinsky   1498.0
36            SarahKocianski      NaN
37                   Reuters     58.0
38                AyoubAouad      NaN
39            SarahKocianski      NaN
40                   Reuters    195.0
41                   Reuters    151.0
42              DanaVarinsky  76917.0
43                DavidScutt   2191.0
44  BusinessInsiderAustralia   2191.0

[907 rows x 2 columns]

In [52]:
df.groupby(['author']).count()

                          heat
author
AkinOyedele                 13
AlanDawson                   1
AlexMorrell                 10
AlexriaSage                  2
AlisonMillington             2
AllStarCharts                1
AllanSmith                   1
AnaelePelisson               1
AndrewMeola                  0
AndyKiersz                   5
AnkitAjmera                  1
ArielSchwartz                1
ArunimaBanerjee              1
AssociatedPress              3
AyoubAouad                   0
BIIntelligence               0
BeckyPeterson                6
BenMoshinsky                 4
BenjaminZhang               10
BetterDwelling               2
BillFinkTDBank               1
BobBryan                    11
BryanLogan                   1
BusinessInsider              2
BusinessInsiderAustralia    10
BusinessInsiderNordic        1
BusinessInsiderSingapore     1
CadieThompson                1
ChristianBautista            1
ChristopherWoody             1
...                        ...
SarahJacobs                  1
SarahKocianski               1
ShanaLebowitz                1
ShayanneGal                  1
SonamRai                     1
SonamSheth                   1
StephanieAsymkos             1
StephenEdelstein             1
StephenPunwasi               1
SwetaSingh                   1
TanzaLoudenback              9
TheBlackRockBlog             1
TheFelderReport.com          1
TheFiscalTimes               1
TheMotleyFool                1
ThePennyHoarder              1
TheRealDeal                  2
TiffanyWilding               1
TomSims                      1
TroyWolverton               11
TsvetanaParaskova            2
U.S.GlobalInvestors          1
VikneshVijayenthiran         2
VisualCapitalist             3
WillMartin                  18
WolfRichter                  7
WolfStreet                   7
YuvalRosenberg               1
ZoëBernard                   7
ÁineCain                    11

[173 rows x 1 columns]

In [48]:
mean=df.groupby(['author']).mean()

In [53]:
count=df.groupby(['author']).count()

In [54]:
data=pd.merge(count,mean, left_on='author', right_on='author')
data.to_csv('data.csv')